# Introduction to Python: working with tabular data
## workshop facilitator: Diane L√≥pez, Information Specialist
### April 16, 2025

#### agenda: 
- introduction to pandas 
- quick start
- series 
- dataframe
- clean and moving

<h3>What's Inside Pandas</h3>

| Pandas Dependency  | Required Version | Installed Version | Description |
|--------------------|------------------|-------------------|-------------|
| numpy              | >=1.23.2         | 2.2.4             | Supports large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays. |
| python-dateutil    | >=2.8.2          | 2.9.0.post0       | Provides powerful extensions to the standard Python <code>datetime</code> module. |
| six                | >=1.5            | 1.17.0            | A Python 2 and 3 compatibility library. |
| pytz               | >=2020.1         | 2025.2            | Provides world timezone definitions, both modern and historical. |
| tzdata             | >=2022.7         | 2025.2            | A Python package containing zic-compiled binaries for timezone data used in timezone-aware datetime operations. |

<h3> Things to Know About Pandas </h3>

<p> To use Pandas, start by importing the package:</p>
<pre><code>import pandas as pd</code></pre>
<sub>(<code>pd</code> is a common alias for Pandas. It makes writing and calling Pandas functions easier‚Äîand from experience, it helps avoid misspellings!)</sub>

<p> Key concepts in Pandas:</p>
<ul>
    <li><strong>DataFrame:</strong> A table of data stored in a 2-dimensional structure, where rows and columns are labeled.</li>
    <li><strong>Series:</strong> Each column in a <code>DataFrame</code> is a <code>Series</code>, which is a one-dimensional array structure.</li>
</ul>

<p> You can manipulate and analyze data by applying methods to a <code>DataFrame</code> or a <code>Series</code>.

<p> <em><strong>Run the line below if working in Jupyter NoteBook or Google CoLab to install the package</strong></em></p>
<p><em>just in case</em></p>

In [ ]:
#$ pip install pandas #delete the # before the $ before running install
#$ pip install matplotlib #delete the # before the $ before running install
#$ pip install seaborn #delete the # before the $ before running install

<h3>Let's Get Started ‚Äî and Remember to Import Pandas!</h3>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

<h2> Getting Started with Pandas DataFrame </h2>
<p>To manually store data in a table, create a <code>DataFrame</code>. When using a Python dictionary of lists, the dictionary keys become the column headers, and the values in each list represent the data for each column of the <code>DataFrame</code>.</p>

<h4> What is a DataFrame? </h4>

- A 2-dimensional data structure

    - Can store multiple data types:

        - Strings (text)
        - Integers
        - Floating point values
        - Categorical data

<p> Each <strong>column</strong> in a <code>DataFrame</code> is a <code>Series</code> </p>

<h4> Manually creating a <code>DataFrame</code> from scratch:</h4>

1. Name the DataFrame.

2. Define a dictionary where:

    - Each key is a column name.

    - Each value is a list of cell values for that column.

    - Use <code>{ }</code> curly braces to define a dictionary.

    - Use <code>[ ]</code> square brackets to define a list.

<h3>structure and syntax </h3>
<pre><code>
DataFrame_label = ({
    "column1": [
        "cell 1.1", 
        "cell 1.2", 
        "cell 1.3"
    ],
    "column2 label": [
        "cell value2.1", 
        "cell value2.2", 
        "cell value2.3"
    ],
    "column3 label": [
        "cell value3.1", 
        "cell value3.2", 
        "cell value3.3"
    ]
})

DataFrame_label
</code></pre>

<h3>Quick and Dirty Example</h3>

<p>In this example, I'm creating a <code>DataFrame</code> to keep track of attendee counts for the workshops we've hosted.</p>

<p>I start by naming the <code>DataFrame</code> as <code>pythonWs_df</code>.</p>

<p>Then, I call the function to create the <code>DataFrame</code> using <code>pd.DataFrame()</code>.</p>

<p>Inside the parentheses <code>()</code>, I begin creating the dictionary using curly braces <code>{}</code>.</p>

<p>For example: <code>({ dictionary })</code>. Next, I define the labels for the columns, like <code>"Workshops":</code></p>

<p>To add values for each <code>Series</code> (each column), I use square brackets <code>[]</code> to create a list of values.</p>

<p>Once that's done, I can run the cell to generate the table.</p>

In [ ]:
pythonWs_df = pd.DataFrame (
    { # creating a dictionary with three list of Workshop, Date, and Attendees Numbers which are the column labels 
        "Workshop": [ # the values within the cells are contain in list 
            "Intro to Python Part A",
            "Intro to Python Part B",
            "Intro to Text Analysis Part A",
            "Intro to Text Analysis Part B",
            "Tabular Data with Python, Part I:",
            "Tabular Data with Python, Part II:",
        ],
        "Date": [
            "February 2",
            "February 26",
            "March 19", 
            "April 2",
            "April 16",
            "April 28",
        ],
        "Attendees Numbers": [
            15, 
            18, 
            22, 
            18,
            'NaN',
            'NaN',
        ],
    }
)

# Convert the "Attendees Numbers" column to numeric, coercing errors to NaN
pythonWs_df["Attendees Numbers"] = pd.to_numeric(pythonWs_df["Attendees Numbers"], errors='coerce')

pythonWs_df

<h4>How to Explore the DataFrame</h4>

<p>Take time to understand your data by using <code>.dtypes</code> to check the data types of each column in the <code>DataFrame</code>.</p>
<p>This helps you verify whether columns are stored as strings, integers, floats, or other types‚Äîso you can clean or transform them if needed.</p>

In [ ]:
pythonWs_df.dtypes

<h5> More tools to explore the DataFrame</h5>
<ul> 
<li><code>.info(),</code></li>
<li><code>.describe(),</code></li>
<li><code>.head()</code></li>
</ul>

<h5>The <code>.info()</code> Function</h5>
<p>The <code>.info()</code> function provides a summary of the structure of a DataFrame.</p>

In [ ]:
pythonWs_df.info()

<h5>The <code>.describe()</code> Function</h5>
<p>The <code>.describe()</code> function provides a descriptive statistical analysis of the DataFrame.</p>

In [ ]:
pythonWs_df.describe()

<h5>The <code>.head()</code> Function</h5>
<p>The <code>.head()</code> function returns the first <em> n rows</em></p>
<p>The syntax: <code>DataFrame.head(n=5)</code> default is the first five rows.</p>
<p>But if you want the <strong>last n rows</strong>

In [ ]:
pythonWs_df.head(6)

<h4> Working with Series aka Column values </h4> 

<p> To call a column use <code>the name of the DataFrame</code>, and use <code> ["name of column"]</code> square brackets.

In [ ]:
# Find the maximum value in the column
max_attendees = pythonWs_df["Attendees Numbers"].max()
max_attendees

<h2>How to Read, Clean, and Write Tabular Data?</h2>

<p>In this section, I will be working with San Antonio 311 Service Calls, which is publicly available data from: <a href="https://data.sanantonio.gov/">https://data.sanantonio.gov/</a></p>

<ol>
    <li>Loading data: <code>df = pd.read_csv('filename.csv')</code></li>
    <li>Explore the data <code> df.info</code> and <code> df.describe</code></li>
    <li>Standardizing column names: 
        <code>df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')</code>
    </li>
    <li>Checking for missing data: <code>df.isnull().sum()</code></li>
    </li>
    <li>Changing data types (e.g., to datetime): 
        <code>df['closeddatetime'] = pd.to_datetime(df['closeddatetime'], errors='coerce')</code>
    </li>
    <li>Filtering data: 
        <code>df = df[df['council_district'] == 5]</code> <!-- Filter by district -->
    </li>
    <li>Replacing values: 
        <code>df['late_(yes/no)'] = df['late_(yes/no)'].replace({'Yes': 'Late', 'No': 'On time'})</code>
    </li>
    <li>Writing cleaned data: 
        <code>df.to_json('cleaned_data.json', orient='records', lines=True)</code>
    </li>
</ol>

In [ ]:
# optional, set up some display options
pd.set_option('display.max_columns', None)

<h4> 1. Loading Data </h4>

In [ ]:
# load the dataset
data = "SA311_Street_Infrastructure.csv" # url https://data.sanantonio.gov/dataset/93b0e7ee-3a55-4aa9-b27b-d1817e91aec3/resource/00370431-ce2d-4b32-9b75-b9734bd13fa3/download/allservice_streets-infrastructure.csv

sa311_df = pd.read_csv(data)

# .head() or .tail() previews 5 rows by default but you change the number of rows you want to preview. 
#sa311_df.head()
sa311_df.tail()

<h4>2. Explore the data</h4>

In [ ]:
# explore the structure
sa311_df.info()

sa311_df.describe(include='all') # includes object columns: data type of "object" typically store strings or mixed data types. (resource) pandas.DataFrame.dtypes: https://pandas.pydata.org/docs/user_guide/basics.html#basics-dtypes

<h4> 3. Standardize column names </h4>

In [ ]:
# strip whitespace from column names 
sa311_df.columns = sa311_df.columns.str.strip().str.lower().str.replace(' ', '_')
sa311_df.columns

<h4> 4. Check for missing values </h4>

In [ ]:
sa311_df.isnull().sum()

<h4>5. change the data type: datetime </h4>

In [ ]:
# NaT (Not a Time) represents missing or invalid datetime values. It's analogous to NaN (Not a Number) for numerical data. When working with time series data, NaT is used as a placeholder for missing dates or times. It ensures consistency and allows for proper handling of incomplete or erroneous data within datetime columns.
sa311_df['closeddatetime'] = pd.to_datetime(sa311_df['closeddatetime'], errors='coerce') 
sa311_df['openeddatetime'] = pd.to_datetime(sa311_df['openeddatetime'], errors='coerce')
sa311_df['report_starting_date'] = pd.to_datetime(sa311_df['report_starting_date'], errors='coerce')
sa311_df['report_ending_date'] = pd.to_datetime(sa311_df['report_ending_date'], errors='coerce')

<h4>6. Analysis Examples</h4>

In [ ]:
# Most common service categories
sa311_df['typename'].value_counts().head(10)

In [ ]:
# Activities in a specific district (e.g., District 5)
sa311_df[sa311_df['council_district'] == 5]['casestatus'].value_counts().head(10)

In [ ]:
# Number of work orders per district
sa311_df['council_district'].value_counts().sort_index()

In [ ]:
sa311_df['council_district'].value_counts().sort_index().plot(kind='bar', figsize=(10, 6))
plt.title('Number of Cases per Council District')
plt.xlabel('Council District')
plt.ylabel('Number of Cases')
plt.tight_layout()
plt.show()

In [ ]:
#count case that were late 
sa311_df['late_(yes/no)'].value_counts()

In [ ]:
# model/test hypotheses
# compare the percentage of the late case by service type
# we will use .groupby() + .mean() after converting 'late_(yes/no' to binary
# .map() applies a function or mapping dictionary to each element in a Series. Here, we use it to convert "Yes" and "No" values into binary values (1 and 0) for analysis. 

#1. check the unique values to make sure they are clean
sa311_df['late_(yes/no)'].unique() 

#2. clean values. remove whitespace and standardize capitalization 
sa311_df['late_(yes/no)'] = sa311_df['late_(yes/no)'].str.strip().str.title()  # or .str.lower() if you're mapping lowercase

#.3 convert 'yes' to 1 and 'no' to 0 for binary analysis
sa311_df['is_late'] = sa311_df['late_(yes/no)'].map({'Yes': 1, 'No': 0})\

#4. group and calculate the average lateness rate
# try grouping by different catergories like 'reasonname' or 'typename' 
sa311_df.groupby('reasonname')['is_late'].mean().sort_values()

In [ ]:
# Group by reason and plot mean lateness as horizontal bars
lateness_by_reason = sa311_df.groupby('reasonname')['is_late'].mean().sort_values()

lateness_by_reason.plot(kind='barh', figsize=(10, 8), color='skyblue')
plt.xlabel('Percent of Late Cases')
plt.title('Lateness Rate by Reason for Service Call')
plt.tight_layout()
plt.show()

In [ ]:
sa311_df['late_(yes/no)'].value_counts().plot(kind='pie', autopct='%1.1f%%', startangle=90)
plt.title('On-Time vs Late Cases')
plt.ylabel('')
plt.tight_layout()
plt.show()

In [ ]:
sa311_df.plot.scatter(
    x='xcoord',
    y='ycoord',
    alpha=0.2,
    s=1,
    figsize=(10, 8)
)
plt.title('Geographic Distribution of Service Requests')
plt.xlabel('X Coordinate')
plt.ylabel('Y Coordinate')
plt.tight_layout()
plt.show()

<h4>7. Group by and time-based analysis</h4>

In [ ]:
# Extract year from closeddatetime
sa311_df['year_closed'] = sa311_df['closeddatetime'].dt.year

# Plot number of work orders closed per year
sa311_df['year_closed'].value_counts().sort_index().plot(
    kind='bar',
    title='Work Orders Completed per Year',
    figsize=(10, 4)
)
plt.xlabel("Year")
plt.ylabel("Number of Work Orders")
plt.tight_layout()
plt.show()

In [ ]:
sa311_df['opened_month'] = sa311_df['openeddatetime'].dt.to_period('M')
sa311_df['opened_month'].value_counts().sort_index().plot(kind='bar', figsize=(12, 4), title="Opened Cases by Month")

<h4> Extra: optimize your code to ensure efficent data analysis</h4>

In [ ]:
# Use .copy() when subsetting to avoid SettingWithCopyWarning. Warning raised when trying to set on a copied slice from a DataFrame.
district5_df = sa311_df[sa311_df['council_district'] == 5].copy()

district5_df

<p> it is a common warning in Pandas when you modify a slice of a DataFrame without making a true copy. </p>
<p> for example: </p> 
<code># This might raise a warning:
df_subset = df[df['column'] == value]
df_subset['new_column'] = 123  # <- Warning here
</code>

<p> fix: is to use <code>.copy()</code> if you are going to modify a subset</p>
<code> df_subset = df[df['column'] == value].copy()

In [ ]:
# Use .loc[] for efficient and readable row filtering
sa311_df.loc[sa311_df['is_late'] == 1, 'caseid'].head()
sa311_df

In [ ]:
# Downcast numeric types to save memory
sa311_df['council_district'] = pd.to_numeric(sa311_df['council_district'], downcast='integer')

sa311_df

In [ ]:
# Check memory usage
sa311_df.memory_usage(deep=True)

In [ ]:
# Optional: convert object columns to 'category' if they have a limited number of unique values
sa311_df['reasonname'] = sa311_df['reasonname'].astype('category')

sa311_df

<h2>Resources</h2>

<ul>
  <li>
    üìò <strong><a href="https://utsa.primo.exlibrisgroup.com/permalink/01UTXSANT_INST/ken82l/alma9938721200504621" target="_blank">
    The Pandas Workshop: A Comprehensive Guide to Using Python for Data Analysis with Real-World Case Studies</a></strong>  
    ‚Äì Available through UTSA Libraries. Great for learning through examples and applying real-world data analysis skills.
  </li>
  <li>
    üìö <strong><a href="https://pandas.pydata.org/docs/index.html" target="_blank">
    Pandas Official Documentation</a></strong>  
    ‚Äì The go-to reference for all pandas functions, syntax, and advanced usage tips.
  </li>
  <li>
    üîç <strong><a href="https://github.com/pandas-dev/pandas/blob/main/doc/cheatsheet/Pandas_Cheat_Sheet.pdf" target="_blank">
    GitHub Source: Pandas Cheat Sheet</a></strong>  
    ‚Äì Maintained by the pandas team, ideal for printing or bookmarking.
  </li>
  <li>
    üìä <strong><a href="https://www.datacamp.com/cheat-sheet/pandas-cheat-sheet-for-data-science-in-python" target="_blank">
    DataCamp Pandas Cheat Sheet</a></strong>  
    ‚Äì Beginner-friendly and visual, with examples of how to use each function.
  </li>
  <li>
    üìñ <strong><a href="https://matplotlib.org/stable/gallery/index.html" target="_blank">
    MatPlotLib</a></strong>  
    ‚Äì Matplotlib is a comprehensive library for creating static, animated, and interactive visualizations in Python. Matplotlib makes easy things easy and hard things possible.
  </li>
  </ul>